<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Value Bank</title>
        <meta name="description" content="Canada's digital sustainable bank.">
        <meta property="og:title" content="Value" />
        <meta property="og:url" content="https://value-financial.com"/>
        <meta property="og:description" content="Canada's digital sustainable bank.">
        <meta property="og:locale" content="en_CA" />

        <!--favicon-->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/favicon/apple-icon-57x57.png')}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/favicon/apple-icon-60x60.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/favicon/apple-icon-72x72.png')}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/favicon/apple-icon-76x76.png')}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/favicon/apple-icon-114x114.png')}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/favicon/apple-icon-120x120.png')}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/favicon/apple-icon-144x144.png')}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/favicon/apple-icon-152x152.png')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-icon-180x180.png')}}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/favicon/android-icon-192x192.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon/favicon-96x96.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png')}}">
        <link rel="manifest" href="{{ url_for('static', filename='img/favicon/manifest.json')}}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/favicon/ms-icon-144x144.png')}}">
        <meta name="theme-color" content="#ffffff">

        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet"> 

        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}>

        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-D8LDF5B7B1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-D8LDF5B7B1');
        </script>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container px-5">
                <img id="logo-value" src="{{ url_for('static', filename='img/Logo-Leaf-Green.png')}}" alt="">
                <a class="navbar-brand fw-bold" href="#page-top" style="font-family: omegleregular;">Value</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item"><a class="nav-link me-lg-3" href="#card">The Card</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="#banks">Banking & Climate</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="#mission">Mission</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="mailto:me@moritzwalther.com">Contact</a></li>
                    </ul>
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            <span class="small">Join the Waitlist &nbsp</span>
                            <i class="bi bi-pencil-square"></i>
                        </span>
                    </button>
                </div>
            </div>
        </nav>
        <!-- Mashead header-->
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-12">
                        <div class="mb-5 mb-lg-0 text-lg-start">
                            <section class="rotateText" id ="card">
                                <h1 class="display-1 lh-1">A credit card that <br>
                                <div class="slidingVertical">
                                    <span>plants trees.</span>
                                    <span>removes ocean plastic.</span>
                                    <span>installs solar panels.</span>
                                    <span>builds wind farms.</span>
                                    <span>grows kelp forests.</span>
                                </div>
                                </h1>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Mashead text and app badges-->
                        <div class="mt-5 mb-5 mb-lg-0 text-center text-lg-start">
                            <p class="lead fw-normal text-muted mb-5">Whenever you use your card, your bank recieves fees. With our Future Card these are invested in planet-friendly project of your choice. Let's do good together.  </p>
                            <button class="btn btn-primary rounded-pill px-3 mb-2 mb-4" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                                <span class="d-flex align-items-center">
                                    <span class="small">Join the Waitlist &nbsp</span>
                                    <i class="bi bi-pencil-square"></i>
                                </span>
                            </button>
                            <p class="lead fw-normal text-muted mb-5">Coming winter 2022:</p>
                            <div class="d-flex flex-column flex-lg-row align-items-center">
                                <a class="me-lg-3 mb-4 mb-lg-0" ><img class="app-badge" src="{{ url_for('static', filename='/img/google-play-badge.svg')}}" alt="..." /></a>
                                <a class="me-lg-3 mb-4 mb-lg-0"><img class="app-badge" src="{{ url_for('static', filename='img/app-store-badge.svg')}}" alt="..." /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Masthead device mockup feature-->
                        <div class="masthead-device-mockup">
                            <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <linearGradient id="circleGradient" gradientTransform="rotate(75)">
                                        <stop class="gradient-start-color" offset="10%"></stop>
                                        <stop class="gradient-end-color" offset="90%"></stop>
                                    </linearGradient>
                                </defs>
                                <circle cx="50" cy="50" r="50"></circle></svg
                            ><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83" xmlns="http://www.w3.org/2000/svg">
                                <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(120.42 -49.88) rotate(45)"></rect>
                                <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(-49.88 120.42) rotate(-45)"></rect></svg
                            ><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"></circle></svg>
                            <div class="device-wrapper">
                                <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                                    <div class="screen bg-black">
                                        <!-- <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%"><source src="assets/img/demo-screen.mp4" type="video/mp4" /></video> -->
                                        <img src="{{ url_for('static', filename='img/Home-Screen.png')}}" alt="Splash Screen" style="max-width: 100%; height: 100%"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="banks">
        <!-- Quote aside-->
        <aside class="text-center bg-gradient-primary-to-secondary-banner">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                        <div class="h2 fs-1 text-white mb-4">Is your bank funding climate change with your money?</div>
                        <!-- <img src="{{ url_for('static', filename='img/tnw-logo.svg')}}" alt="..." style="height: 3rem" /> -->
                    </div>
                </div>
            </div>
        </aside>
        <!--Bank Comparison-->
            <div class="container px-5">
                <div class="row align-content-center justify-content-center">
                    <div class="hidden-sm-down col-md-1">
                    </div>
                    <div class="col-sm-4 col-md-2  mx-auto">
                        <img class="logos grayscale" id="logo1" src="{{ url_for('static',filename='img/RBC-Logo.png')}}" alt="RBC logo">
                    </div>
                    <div class="col-sm-4 col-md-2 mx-auto">
                        <img class="logos grayscale" id="logo2" src="{{ url_for('static',filename='img/CIBC-Logo.png')}}" alt="CIBC logo">
                    </div>
                    <div class="col-sm-4 col-md-2 mx-auto ">
                        <img class="logos grayscale" id="logo3" src="{{ url_for('static',filename='img/Scotiabank-Logo.png')}}" alt="Scotiabank logo">
                    </div>
                    <div class="col-sm-4 col-md-2 mx-auto">
                        <img class="logos grayscale" id="logo4" src="{{ url_for('static',filename='img/TD-Logo.png')}}" alt="TD logo">
                    </div>
                    <div class="col-sm-4 col-md-2 mx-auto">
                        <img class="logos grayscale" id="logo5" src="{{ url_for('static',filename='img/BMO-Logo.png')}}" alt="BMO logo">
                    </div>
                    <div class="hidden-sm-down col-md-1 ">
                    </div>
                    <div class="row align-content-center justify-content-center mx-auto no-gutters">
                        <div class="col-sm-12 col-md-4 mt-5 left-rounded  mx-auto no-gutters" id="climate-change-pics-row">
                            <img id="climate-change-pics" class="w-100 left-rounded" src="{{ url_for('static', filename='img/RBC-Pic.jpg')}}" alt="Effects of climate change">
                        </div>
                        <div class="col-sm-8 col-md-8 mt-5 right-rounded mx-auto" id="banks-explanation">
                            <h3 id="banks-header">RBC is Canada's #1 Bank for Fossil Fuel Financing</h3>
                            <p id="banks-description">If you are a RBC customer your money is funding climate change. RBC is the #1 fossil fuel financer in Canada and among the 60 largest worldwide. It has poured more than $3.8 trillion into oil, gas, and coal in the 5 years since the Paris Agreement contributing significantly to the climate crisis.</p>
                            <p>
                                <a id="banks-link" href="https://bank.green/banks/rbc">Learn more</a>
                            </p>
                        </div>
                    </div>
            </div>
        </section>
        <!-- Financial services section-->
        <!--https://www.chargebee.com/resources/glossaries/tiered-pricing-model-strategy/-->
        <!-- https://www.renderforest.com/subscription -->
        <section id="services">
            <div class="container px-5">
                <h2 class="text-center">Our Services</h2>
                <p class="text-center mb-5">Choose the plan that best fits your values.</p>
                <div class="row gx-5 align-items-top">
                <div class="col-md-4 col-sm-12 mb-5 mb-lg-0">
                    <ul class="price">
                        <div class="services-pic">
                            <img id="climate-change-pics" class="w-100 rounded-top" src="{{url_for('static', filename='img/sapling.png')}}" alt="Sapling">
                        </div>
                        <li class="header" style="background-color: #16CEC7">Free</li>
                        <li class="grey">$ 0 / month</li>
                        <li>A credit card that supports your values, every time you spend</li>
                        <li>Option to round-up for even more impact</li>
                        <li>Build credit, with smart payments to help boost your score</li>
                        <li>Link your other banks to calculate a carbon footprint</li>
                        <li>No hidden fees</li>
                        <li id="last"> <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">Join the waitlist</button></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 mb-5 mb-lg-0">
                    <ul class="price">
                        <div class="services-pic">
                            <img id="climate-change-pics" class="w-100 rounded-top" src="{{url_for('static', filename='img/tree.png')}}" alt="Tree">
                        </div>
                        <li class="header"">Divest</li>
                        <li class="grey">$ 2 / month</li>
                        <li>Includes everything from Free</li>
                        <li>A bank account that doesn't fund fossil fuels</li>
                        <li>Green Savings, Green Checking, Green Retirement</li>
                        <li id="last" style="background-color: gray; color: white;">Coming Mar 2022</li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-12 mb-5 mb-lg-0">
                    <ul class="price">
                        <div class="services-pic">
                            <img id="climate-change-pics" class="w-100 rounded-top" src="{{url_for('static', filename='img/forest.png')}}" alt="Forest">
                        </div>
                        <li class="header">Impact</li>
                        <li class="grey">$ 15 / month</li>
                        <li>Includes everything from Divest</li>
                        <li>Access to more high-impact projects</li>
                        <li>Choose exactly what your money supports</li>
                        <li id="last" style="background-color: gray; color: white;">Coming May 2022</li>
                    </ul>
                </div>
                </div>
            </div>
        </section>
        <!-- App features section-->
        <section id="features">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                        <div class="container-fluid px-5">
                            <div class="row gx-5">
                                <div class="col-md-6 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi bi-tree-fill icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Fund Green Projects</h3>
                                        <p class="text-muted mb-0">Choose from among one of five projects that is doing good for the environment. As you spend money the fees we recieve will fund the project.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi bi-bank2 icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">All Your Spending, One App</h3>
                                        <p class="text-muted mb-0">If your a customer of one of Canada's big 5 banks you can add your account to see all your spending in one place.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-5 mb-md-0">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi bi-credit-card-fill icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Build Credit</h3>
                                        <p class="text-muted mb-0">Have full control over your credit usage. Get notifications for every transaction, set spending limits, directly debiting on paying with your card, and more.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- Feature item-->
                                    <div class="text-center">
                                        <i class="bi bi-piggy-bank-fill icon-feature text-gradient d-block mb-3"></i>
                                        <h3 class="font-alt">Co-sign for Kids</h3>
                                        <p class="text-muted mb-0">The perfect first credit card for kids. Parents can co-sign without leaving their old bank.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Features section device mockup-->
                    <div class="col-lg-4 order-lg-0">
                        <div class="features-device-mockup">
                            <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <linearGradient id="circleGradient" gradientTransform="rotate(75)">
                                        <stop class="gradient-start-color" offset="10%"></stop>
                                        <stop class="gradient-end-color" offset="90%"></stop>
                                    </linearGradient>
                                </defs>
                                <circle cx="50" cy="50" r="50"></circle></svg
                            ><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83" xmlns="http://www.w3.org/2000/svg">
                                <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(120.42 -49.88) rotate(45)"></rect>
                                <rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03" transform="translate(-49.88 120.42) rotate(-45)"></rect></svg
                            ><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"></circle></svg>
                            <div class="device-wrapper">
                                <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                                    <div class="screen bg-black">
                                        <img src="{{ url_for('static', filename='img/Home-Screen.png')}}" alt="Features" style="max-width: 100%; height: 100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Mission section-->
        <section class="mission" id="mission">
            <div class="mission-content">
                <div class="container px-5">
                    <h2 class="text-white display-1 lh-1 mb-4">
                        Our Mission.
                    </h2>
                    <p class="text-white lead lh-base mb-4">
                        We believe that climate change is one of the most pressing issues of our generation. Scientific evidence shows climate change is man-made, accelerating rapidly, and that the time to act is now. The United Nation's has laid out a plan for financing the transition to a carbon neutral economy. However there is an enormous gap between how much has been invested and how much we need to invest. This transition will have the potential to transform the lives of people, the planet and create profit for those who see the future in sustainability. Canada's recognize this and want green financial services. Canada's big banks are failing to act - so we will!
                    </p>
                </div>
            </div>
        </section>
        <!-- App badge section-->
        <section class="bg-gradient-primary-to-secondary" id="download" hidden>
            <div class="container px-5">
                <h2 class="text-center text-white font-alt mb-4">Get the app now!</h2>
                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                    <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="assets/img/google-play-badge.svg" alt="..." /></a>
                    <a href="#!"><img class="app-badge" src="assets/img/app-store-badge.svg" alt="..." /></a>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-black text-center py-5">
            <div class="container px-5">
                <div class="text-white-50 small">
                    <div class="mb-2">&copy; Value Financial 2021. All Rights Reserved.</div>
                    <!-- <a href="#!" hidden>Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a href="#!" hidden>Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a href="#!" hidden>FAQ</a> -->
                </div>
            </div>
        </footer>
        

        <!-- Feedback Modal-->
        <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-primary-to-secondary p-4">
                        <h5 class="modal-title font-alt" id="feedbackModalLabel"> 👋 Don't be a Stranger &nbsp</h5>
                        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body border-0 p-4">
                        <form id="contactForm" action="/api/waitlist" method = "POST">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            
                            <!-- Message input-->
                            <div class="form-floating mb-3" hidden>
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Checkboxes-->
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="subscribe" value="Subscribed">
                                <label class="form-check-label" for="flexSwitchCheckDefault">I want updates on the project</label>
                              </div>
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" data-onstyle="secondary" name="resident" value="Canada" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">I am a resident of Canada</label>
                              </div>
                              <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">I want to be contacted about the product launch</label>
                              </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div id="submitErrorMessage" class="d-none"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary rounded-pill btn-lg" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='scripts.js')}}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
